<ion-header class="ion-margin-top">
  <ion-buttons slot="start">
    <ion-back-button routeLink="/home"></ion-back-button>
  </ion-buttons>
</ion-header>
<ion-content padding  class="masters">
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-list>
              <ion-item lines="none">
                <div class="mx-auto w-50">
                  <img src="../../assets/image/logo.png"/>
                </div>
              </ion-item>
              <ion-item>
                  <ion-label position="floating">Kullanıcı Adı</ion-label>
                  <ion-input type="text" [(ngModel)]="username"></ion-input>
                </ion-item>
            
                <ion-item>
                  <ion-label position="floating" >Şifre</ion-label>
                  <ion-input type="password" [(ngModel)]="password"></ion-input>
                </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>
        <ion-row>
          <ion-col>
              <ion-button fill="solid" expand="block" [ngStyle]="{'background-color':'#eb1a24 !important'}" (click)="login()">Giriş Yap</ion-button>
            </ion-col>
        </ion-row>
        <ion-row class="text-center pt-3">
          <ion-col>
              <span class="ion-marin-top ion-text-center text-secondary">
                  Üye değil misin? 
                  <a routerLink="/register" class="text-info">Kayıt Ol</a>
              </span>
          </ion-col>
        </ion-row>
</ion-grid>
</ion-content>