  <ion-tabs #tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Ana Sayfa</ion-label>
      </ion-tab-button>

      <!-- <ion-tab-button tab="trending">
        <ion-icon name="trending-up"></ion-icon>
        <ion-label>TRENDING</ion-label>
      </ion-tab-button> -->

      <ion-tab-button tab="upload">
        <ion-icon name="send"></ion-icon>
        <ion-label>Haber Yaz</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
