<ion-header>
  <ion-toolbar>
    <ion-title>Upload</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
    <div class="camera"></div>

    <input type="file" *ngIf="!imageKey" (change)="fileChanged($event)" class="filebtn" #fileBtn>

    <ion-button shape="round" color="primary" (click)="uploadFile()" *ngIf="!imageKey" fill="outline">Upload Image
    </ion-button>

    <ion-card *ngIf="imageKey">
        <img src="{{imageKey}}" />
      <ion-card-content>

        <ion-textarea placeholder="Enter some description" [(ngModel)]="desc"></ion-textarea>
        <ion-button shape="round" color="primary" (click)="createPost()">Share</ion-button>

        <!-- <div *ngFor="let post of posts1">
          <ion-label>{{post.desc}}</ion-label>
          <img src="{{post.image}}" alt="">
        </div> -->
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>