<ion-header>
  <ion-toolbar>
    <ion-title>Haber Yaz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card>
      <ion-card-header>
        <input type="file" *ngIf="!imageKey" (change)="fileChanged($event)" class="filebtn" #fileBtn>
      </ion-card-header>

      <ion-card-content>
        <img *ngIf="imageKey" src="{{imageKey}}" />
        <ion-input type="text" placeholder="Enter title" [(ngModel)]="posttitle"></ion-input>
        <ion-textarea placeholder="Enter some description" [(ngModel)]="desc"></ion-textarea>
        <ion-select class="p-0 pl-2" placeholder="Select Category" [(ngModel)]="selectedcat">
          <ion-select-option *ngFor="let cat of categories" value="{{cat.category_id}}-{{cat.category_title}}">
            {{cat.category_id}} - {{cat.category_title}}
          </ion-select-option>
        </ion-select>
        <div class="row ion-margin-top">
          <div class="col-6">
            <ion-button shape="round" class="btn-block" color="primary" (click)="uploadFile()" *ngIf="!imageKey"
              fill="outline">
              <ion-icon name="folder"></ion-icon>
            </ion-button>
          </div>
          <div class="col-6">
            <ion-button shape="round" class="btn-block" (click)="takePicture()" color="primary" *ngIf="!imageKey"
              fill="outline">
              <ion-icon name="camera"></ion-icon>
            </ion-button>
          </div>
          <div class="col-6"></div>
          <div class="col-6">
          </div>
        </div>
        <ion-button shape="round" class="btn-block" color="primary" (click)="createPost()">Paylaş</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>