<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="cont" *ngFor="let post of userPosts">
    <ion-card>
        <ion-img [src]="post.image" [alt]=""></ion-img>
        <ion-card-header>
          <ion-card-title>{{ post.post_title }}</ion-card-title>
          <ion-card-subtitle>Category: {{post.cat_of_post}}</ion-card-subtitle>
          <ion-card-subtitle>Posted by {{post.owner_mail}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>{{post.desc}}</ion-card-content>
    </ion-card>
  </div>

</ion-content>