$fontsize : 12px;
ion-content{
    ion-card{
        ion-card-title,
        ion-card-content{
            font-size: $fontsize;
        }
        ion-card-title{
            font-weight: 600;       
        }
        ion-card-content{
            font-weight: 300; 
        }
    }
    .writer{
        font-size: $fontsize;
        font-weight: 450;
    }
}