<ion-header>
  <ion-toolbar>
    <ion-title>Muhab</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding  class="masters">
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-list>
              <ion-item lines="none">
                <div class="mx-auto w-50">
                  <img src="../../assets/image/logo.png"/>
                </div>
              </ion-item>
              <ion-item>
                  <ion-label position="floating">Kullanıcı Adı</ion-label>
                  <ion-input type="text" [(ngModel)]="username"></ion-input>
                </ion-item>
            
                <ion-item>
                  <ion-label position="floating" >Şifre</ion-label>
                  <ion-input type="password" [(ngModel)]="password"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating" >Şifre Tekrar</ion-label>
                  <ion-input type="password" [(ngModel)]="cpassword"></ion-input>
                </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>
        <ion-row>
          <ion-col>
              <ion-button fill="solid" expand="block" class="bg-info" (click)="register()">Kayıt Ol</ion-button>
            </ion-col>
        </ion-row>
        <ion-row class="text-center pt-3">
          <ion-col>
              <span class="ion-marin-top ion-text-center text-secondary">
                  Zaten üye misin? 
                  <a routerLink="/login" class="text-info">Giriş Yap</a>
              </span>
          </ion-col>
        </ion-row>
</ion-grid>
</ion-content>